.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    &__logo {
        object-fit: contain;
        width: 100px;
        height: 100px;
    }

    &__messages {
        width: 100vw;
    }

    &__form {
        display: flex;
        position: fixed;
        bottom: 0px;
        z-index: 1;
        background-color: #e9e9eb;
        width: 100%;
    }

    &__formControl {
        width: 100%;
        display: flex !important;
        flex-direction: row !important;
        &__input{
            flex:1;
        }
        &__iconButton{
            flex:0;
        }
    }
}