.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;

    &__user {
        margin-left: auto;
        text-align: left !important;
        color: #FFF;
        border-radius: 20px !important;
    }

    &__userCard {
        background-color: #0b81ff !important;
    }

    &__guestCard {
        background-color: #e9e9eb !important;
    }



    .MuiPaper-rounded {
        border-radius: 20px;
    }

    .MuiCardContent-root:last-child {
        padding-bottom: 3px;
    }

    .MuiCardContent-root {
        padding-right: 8px;
        padding-left: 8px;
        padding-top: 3px;
    }
}